body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282828;
    font-family: Arial, sans-serif;
  }
  
  .relogio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444;
    height: 50px;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  
  h1 {
    color: #00ff00;
    font-size: 60px;
    margin: 0;
  }